body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#shoulder {
    background-color: #643F92;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 90px; /* Largura shoulder */
    height: 100%; /* Altura da tela */
}

#menu {
    margin-top: 50px; /* Espaçamento da logo */
}

#logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 30px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
    filter: invert(1);
    margin-top: 40px;
}

#menu ul li img{
    width: 80%;
    height: 100%;
    padding-left: 10px;
}

#menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

#content {
    background: linear-gradient(to top right, #ffffff, #BEC3FC);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 130px; /*Largura do shoulder*/
    width: calc(100% - 130px); /*Espaço restante após o shoulder*/
    height: 100%;
}

#calendar-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#calendar-header button {
    background-color: #643F92;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#calendar-header span {
    font-weight: bold;
    font-size: 1.2em;
}

span, button{
    font-family: Montserrat;
    font-weight: 700;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
}

button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calendar-container {
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 800px; 
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    overflow: auto; 
}

#consultations-list {
    flex: 1;
    margin-left: 80px;
    max-width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 100%;
}

#consultations-list:hover {
    cursor: pointer;
}

.day {
    background-color: #510ea8b0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    height: 80px;
}

.day:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.day, .day-header {
    font-family: Montserrat;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.day img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    margin-top: 8px;
}

.day.consulta img {
    width: 60%;
    height: auto;
}

.day-header {
    font-weight: bold;
    background-color: #643F92;
    border-radius: 5px;
}

.pet-container {
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 20px;
}

.pet-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.pet-name {
    font-size: xx-large;
    margin-bottom: 10px;
}

.consultations-list {
    list-style: none;
    padding: 0;
}

.consultations-list li {
    margin-bottom: 10px;
}

.card {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    margin-bottom: 20px;
}

.card:hover{
    transform: scale(1.02);
    cursor: pointer;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #643F92;
}

.tooltip {
    display: none;
    position: fixed;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    pointer-events: none;
    white-space: nowrap;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
