/* Estilo da página - Início */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #F4F0F8;
    background-attachment: fixed;
    background-size: cover;
}

/* Estilo da página - Fim */

/* Barra lateral - Início */

#shoulder {
    background-color: #643F92;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px; 
    height: 100%; 
}

#menu {
    margin-top: 20px; 
}

#logo {
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 80px;
    font-size: 14px;
}


#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
    filter: invert(1);
    margin-top: 40px;
}

#menu ul li img{
    width: 80%;
    height: 80%;
    padding-left: 6px;
}

#menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

#logo-big {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: 800px;
    font-size: 90px;
    position: absolute;
    text-align: left;
    padding-left: 10%;
}

/* Barra lateral - Fim */

/* Serviços - Início */

.title{
    color: #643F92;
    margin-left: 190px;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#map {
    height: 400px;
    width: 75%;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 0 20px #ffffff78;
}

.button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 262px;
    height: 200px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button p{
    font-size: medium;
    color: #643F92;
}

.button:hover {
    background-color: #F5EEFF;
    transform: scale(1.1); 
}

#icon1 {
    width: 70px;
    height: 70px;
}

#icon2 {
    width: 80px;
    height: 80px;
}

#icon3 {
    width: 70px;
    height: 70px;
}

#icon4 {
    width: 68px;
    height: 68px;
}


/* Serviços - Fim */

/* Cards - Início */

.card-container{
    margin: 180px;
}
.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #643F92;
}

.card:hover {
    transform: translateY(-5px); 
}

.card-content {
    padding: 20px;
    flex: 1;
}

.card-title {
    font-size: 15px;
    margin-bottom: 10px;
}

.card-info {
    font-size: 10px;
    color: #666;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
    color: #643F92;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px; 
}

.btn-2 {
    display: inline-block;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: #643F92;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 2px; 
}

.btn-2:hover {
    background-color:#8d5cb8;
}

.btn:hover {
    background-color:#ebe1f4;
}

/* Cards - Fim */

/* Detalhes - Início */
#detalhes {
    width: 75%;
    margin-top: 20px;
}

#detalhes {
    max-width: 100px;
    max-height: 100px;
}
/* Detalhes - Fim */

/* Estilo para o campo de pesquisa - Início */

.search-container {
    margin-top: 20px;
    width: 1080px;
    display: flex;
    margin-top: 40px;
}

.search-input {
    width: 1100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin: 0 5px;
}

.search-input:focus {
    border-color: #643F92;
}

.search-button {
    background-color: #643F92;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s;
    height: 45px;
    width: 100px;
}

.search-button:hover {
    background-color: #9767c1;
    transform: scale(1.1); 
}

/* Estilo para o campo de pesquisa - Fim */
